* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: black;
}

body > h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 15px;
}

p,
h3 {
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
}

input {
  padding: 10px;
  margin: 5px;
}

#colorBox {
  width: 300px;
  padding: 30px;
  background-color: lightblue;
  margin-bottom: 15px;
}

#myImage {
  width: 300px;
  margin-bottom: 10px;
}
